<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PCR Graph</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        google.charts.load('current', {'packages':['corechart', 'line']});
        google.charts.setOnLoadCallback(drawChart);

        var chart; // Global variable for the chart

        function drawChart() {


            // Fetch initial data
            fetchChartData(new google.visualization.DataTable());
        }

        function fetchChartData(data) {
            $.ajax({
                url: '/chart-data', // Endpoint to fetch chart data
                method: 'GET',
                dataType: 'json',
                success: function(response) {
                    console.log(response);
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Date');
                    data.addColumn('number', 'PCR');
                    data.addColumn('number', 'Change in PCR');
                    // Add new data
                    response.chartData.forEach(row => {
                        data.addRow([row[0], row[1], row[2]]);
                    });

                    var options = {
                        title: response.graphTitle || "PCR Graph",
                    };

                    if (!chart) {
                        chart = new google.visualization.LineChart(document.getElementById('chatLine'));
                    }

                    chart.draw(data, options);

                    // Update last sync time
                    $('#lastSyncTime').text('Last Sync: ' + response.lastSyncTime);
                },
                error: function(error) {
                    console.error('Error fetching chart data:', error);
                }
            });
        }

        $(document).ready(function() {
            setInterval(function() {
                fetchChartData(new google.visualization.DataTable()); // Fetch new data and update the chart
            }, 2000); // Refresh data every 20 seconds
        });
    </script>
</head>
<body>
<div id="chatLine" style="height: 1000px"></div>
<div id="lastSync" style="position: fixed; top: 10px; right: 10px; font-size: 14px; color: gray;">
    <span id="lastSyncTime"></span>
</div>
</body>
</html>
